button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;

  color: inherit;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.btn-scroll-position {
  a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    transform: translate(0, -50%);
    color: #fff;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }
}

.btn-scroll {
  a {
    padding-top: 60px;

    span {
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        content: "";
        width: 44px;
        height: 44px;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
        border-radius: 100%;
        opacity: 0;
        animation: btnScrollAnim 3s infinite;
        box-sizing: border-box;
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        width: 16px;
        height: 16px;
        margin: -12px 0 0 -8px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transform: rotate(-45deg);
        box-sizing: border-box;
      }

      position: absolute;
      top: 0;
      left: 50%;
      width: 46px;
      height: 46px;
      margin-left: -23px;
      border: 1px solid #fff;
      border-radius: 100%;
      box-sizing: border-box;
    }
  }
}

.section-space {
  &__button {
    &:visited,
    &:active {
      color: #fff;
    }

    text-decoration: none;
    color: #fff;

    padding: 30px 60px;
    background: none;
    border: none;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;

    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: 2px solid #fff;
      transition: transform 0.2s;
    }
    &:after {
      transform: translate(3px, 3px);
    }
    &:before {
      transform: translate(-3px, -3px);
    }
    &:hover {
      &:after,
      &:before {
        transform: translate(0);
      }
    }
  }
}

@keyframes btnScrollAnim {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: $mobileL) {
  .section-space {
    &__button {
      font-size: 0.8rem;

      padding: 25px 45px;
    }
  }
}
