$thistle: #dec9e9ff;
$thistle-2: #dac3e8ff;
$pink-lavender: #d2b7e5ff;
$wisteria: #c19ee0ff;
$lavender-floral: #b185dbff;
$amethyst: #a06cd5ff;
$amethyst-2: #9163cbff;
$blue-violet-crayola: #815ac0ff;
$royal-purple: #7251b5ff;
$plump-purple: #6247aaff;
// Primar variables
// Primar variables
// Primar variables


.scrollbar-hidden{
  overflow: hidden;
}

.scrollbar-unhide{
  overflow: auto;
}