.hero {
  width: 100%;
  height: 100vh;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(
      180deg,
      rgba(67, 11, 104, 0.39) 0%,
      rgba(67, 11, 104, 0.39) 100%
    ),
    url("https://n.sinaimg.cn/sinacn20111/541/w1176h965/20200103/b43e-imrkkfx1913852.jpg");

  &__btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;

    #background-link-1 {
      height: 170px;
      width: 550px;
    }
    #background-link-2 {
      height: 300px;
    }
    #background-link-3 {
      height: 190px;
      width: 550px;
    }
  }
}

@media (max-width: $laptop){

}