@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

// Primar alinement of project

$light-dark: rgb(68, 68, 68);
$dark: rgb(29, 29, 29);
$thistle: #dec9e9ff;
$thistle-2: #dac3e8ff;
$pink-lavender: #d2b7e5ff;
$wisteria: global #c19ee0ff;
$lavender-floral: #b185dbff;
$amethyst: global #a06cd5ff;
$amethyst-2: global #9163cbff;
$blue-violet-crayola: #815ac0ff;
$royal-purple: #7251b5ff;
$plump-purple: #6247aaff;
$red: #e1332d;

// Primar variables

$laptop: 1024px;
$tablet: 768px;
$mobileL: 425px;
$mobileM: 375px;
$mobileS: 320px;

@import "./common.blocks/buttons/_buttons.scss";
@import "./common.blocks/footer/_footer.scss";
@import "./common.blocks/hero/_hero.scss";
@import "./common.blocks/preloader/preloader";
@import "./common.blocks/sections/sections";
@import "./common.blocks/modal/modal";

// Modules imports
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {


  font-family: "Ubuntu", sans-serif;

  background-size: 170px;
  background-repeat: repeat;
  background-position: center;

  overflow: hidden;
}

.wrapper {
  width: 100%;

}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: $blue-violet-crayola;
}

::-webkit-scrollbar-track{
  background: #ffffff;
  box-shadow: #fff;
}

@media screen and (max-width: $mobileL){
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}