@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

*{
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Primar alinement of project
// Primar alinement of project
// Primar alinement of project

$purple: #380596;
$dark: #1c1c1c;
$pink: #c969a6;

// Primar variables
// Primar variables
// Primar variables

@import "./common.blocks/buttons/_buttons.scss";
@import "./common.blocks/footer/_footer.scss";
@import "./common.blocks/hero/_hero.scss";
@import "./common.blocks/_repeats.scss";

// Modules imports
// Modules imports
// Modules imports
html {
  font-size: 16px;

  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Roboto Slab", serif;
}

body {
  display: flex;
  justify-content: center;

  background: $purple;
}

.wrapper {
  max-width: 1200px;
  padding: 20px;
}
