.footer {
  height: 20vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  &__primary {
    color: #000;
    font-size: 1.5rem;
    margin: 0;
  }

  &__secondary {
    color: $light-dark;

    font-size: 1rem;
    margin: 0;
    a {
      color: $light-dark;
      text-decoration: underline;

      &:hover {
        color: #000;
      }
    }
  }
}
